.tables{
  width: 150px;
  background: #484848;
  color: #fff;
}

.tables li.table {
  height: 20px;
  position: relative;
  cursor: pointer;
  padding: 1px 5px 1px 5px;
}
.tables li.table:hover {
  background: #212121;
}

.tables li.table > .check {
  position: absolute;
  top: 1px;
  right: 3px;
}