::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #484848;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
  background-color: #484848;
}

::-webkit-scrollbar-thumb {
  background-color: #212121;
}

body {
  margin: 0px;
  font-family: "Roboto, sans-serif";
}

ul{
  list-style: none;
  padding: 10px;
}

.splitter-layout {
  position: relative !important;
}

.layout-pane-primary {
  background: #484848 !important;
  overflow-x: hidden !important;
  overflow-y: visible !important;
}

.shape span,
div {
  user-select: none;
}

.tables-fields{
  width: 150px;
  background: #484848;
  color: #fff;
}

.tables-fields ul.table {
}

.tables-fields ul.table li.field {
  height: 20px;
  position: relative;
  cursor: pointer;
  padding: 1px 5px 1px 5px;
}
.tables-fields ul.table li.field:hover {
  background: #212121;
}

.tables-fields ul.table li.field > .check {
  position: absolute;
  top: 1px;
  right: 3px;
}